In [ ]:
print("while loop")

while loop

In [ ]:
i = 1
while i <= 10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 10
while i >= 1:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 2
while i <= 20:
  if i%2 == 0:
    print(i)
  i += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
i = 1
while i <= 20:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19

In [ ]:
password = "usman"

while True:
  n = input()
  if n == password:
    print("Access granted")
    break
  else:
    print("Try again")

salman
Try again
ijaz
Try again
ka
Try again
kama
Try again
kmad
Try again
usman
Access granted

In [ ]:
password = "usman"
attemp =0
max_attemp =3
while attemp < max_attemp:
  n = input()
  if n == password:
    print("Access granted")
    break
  else:
    print("Try again")
    attemp+=1

if attemp == max_attemp:
  print("Account is blocked")

dsm
Try again
jsnc
Try again
jncsjn
Try again
Account is blocked

In [ ]:
while True:
  print("Enter the positive number")
  number = int(input())

  if number > 0:
    print("Entered number is:  ", number)
  else:
    print("Invalid number")
    break

Enter the positive number
6
Entered number is:   6
Enter the positive number
5
Entered number is:   5
Enter the positive number
-6
Invalid number

In [ ]:
i = 0
sum = 0
while i < 5:
  n = int(input("enter the number: "))
  sum += n
  i+=1

print(sum)

enter the number: 5
enter the number: 5
enter the number: 5
enter the number: 5
enter the number: 5
25

In [ ]:
i = 1
n = int(input("Enter the table number: "))
while i <= 10:

  print(n , " * ", i, " = ", n*i )
  i+=1

Enter the table number: 3
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30

In [ ]:
i = 0
while i < 5:
  j = 0
  while j<=i:
    print("*", end="" )
    j+=1
  print()
  i+=1

*
**
***
****
*****

In [ ]:
i = 4
while i >= 0:
  j = 0
  while j<=i:
    print("*", end="" )
    j+=1
  print()
  i-=1

*****
****
***
**
*

In [ ]:
while True:
  print("1. Start Game")
  print("2. Setting")
  print("3. Exit")
  n = int(input("Enter your option: "))
  if (n ==1 or n==2):
    print("Feature coming soon")
  else:
    break

1. Start Game
2. Setting
3. Exit
Enter your option: 1
Feature coming soon
1. Start Game
2. Setting
3. Exit
Enter your option: 3

In [ ]:
num_rows = 5 # You can change this value to control the number of rows
i = 0
while i < num_rows:
  j = 0
  while j<=i:
    print("*", end="" )
    j+=1
  print()
  i+=1

*
**
***
****
*****

In [ ]:
import random
guess = random.randint(1,20)
attemp = 1
while True:

  n = int(input("Enter the number: "))


  if n > guess:
    print("too high")

  elif n < guess:
    print("too low")
  else:
    print("You won")
    print(f"You won in {attemp} attemps")
    break
  attemp +=1

Enter the number: 10
too high
Enter the number: 20
too high
Enter the number: 5
too high
Enter the number: 1
too low
Enter the number: 2
You won
You won in 5 attemps

In [ ]:
print("C:", "Users", "Usman", sep="\\")
a ,b, c = 2, 3,  4
print(a, b, c, sep=" BETWEEN ", end=" AFTER")

C:\Users\Usman
2 BETWEEN 3 BETWEEN 4 AFTER

In [ ]:
i=1
while i<=6:
  j = 1
  while j < i:
    print(j, end="")
    j+=1
  print()
  i+=1

1
12
123
1234
12345

In [ ]:
i=0
while i<=5:
  j = 0
  while j < i:
    print(i, end="")
    j+=1
  print()
  i+=1

1
22
333
4444
55555

In [1]:
i=5
while i>0:
  j = 5
  while j >= i:
    print(i, end="")
    j-=1
  print()
  i-=1

5
44
333
2222
11111

In [ ]:
i = 1
while i <=5:
  j = 5
  while i<=j:
    print(j, end="")
    j-=1
  print()
  i+=1

54321
5432
543
54
5

In [ ]:
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print(j, end="")
        j += 1
    print()
    i -= 1

12345
1234
123
12
1

In [ ]:
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print(i, end="")
        j += 1
    print()
    i -= 1

55555
4444
333
22
1

In [8]:
i=1
k =1
while i<=4:
  j = 0

  while j < i:

    print(k, end="")
    j+=1
    k+=1
  print()
  i+=1

1
23
456
78910

In [7]:
i=1
k =10
while i<=4:
  j = 0

  while j < i:

    print(k, end="")
    j+=1
    k-=1
  print()
  i+=1

10
98
765
4321